<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= image_tag 'https://arenametrix.com/hubfs/Arenametrix_theme_aug2023/Logo-Arenametrix-%C3%A9criture-verte.png', alt: 'Arenametrix Logo', class: 'logo', size: '100' %>
      <%= form_tag import_reservations_path, method: :post, multipart: true, class: 'import-form' do %>
        <%= file_field_tag :file, accept: ".csv", class: 'import-file' %>
        <%= submit_tag '⚙️ Importer', class: 'import-submit' %>
      <% end %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/reservations/indicators"><span style='font-size:60px;'>&#128202;</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
