/* app/assets/stylesheets/reservations.scss */

/* Style for the import form */
.import-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.import-file {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.616);
}

.import-submit {
  background-color: #596aee;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.import-submit:hover {
  background-color: #31baa8;
  /* Darken the background color on hover */
}

.collapse.navbar-collapse {
  justify-content: center;
  font-size: 14px;
}
